entrypoint = "main.py"
modules = ["python-3.11", "bash", "nix"]

[nix]
channel = "stable-25_05"
packages = ["libsodium"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = 45913355
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
